:root {
    --color: #85cdd3;
    --text: #346073;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.space-evenly {
    justify-content: space-evenly;
}

.hide {
    display: none;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
    color: var(--text);
    background-image: url("../img/backgroundd.jpg");
}

.container {
    width: 100%;
    margin: auto;
}

.page-header {
    background-color: var(--color);
    padding: 1.5rem 0;
    margin-bottom: 1rem;
    display: flex;
}

.page-title {
    margin: auto;
    text-align: center;
    padding-left: 10rem;
}

nav {
    padding-right: 2rem;
}

button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 10px;
    transition: all 300ms;
    background-color: #ee5c5c;
    color: #fffafa;
    border: 0.2rem solid #c74646;
}

button:hover {
    transform: scale(1.1);
}

main {
    width: 90%;
    margin: auto;
    padding: 1rem 2rem;
}

#map {
    width: 65%;
}

h2 {
    padding-bottom: 1rem;
}

.boxes {
    width: 20%;
    padding: 3rem 0 0 5rem;
}

.box {
    padding: 1rem;
    font-size: medium;
    margin-bottom: 6rem;
}

#map, .box {
    border-radius: 10px;
    box-shadow: var(--color) 6px 6px 2px;
    background-color: rgba(255, 255, 255, 0.7);
}

.box h2 {
    margin: 0;
}

.box table {
    width: 100%;
    text-align: center;
    border-radius: 4px;
}

#player-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
}

#player-form {
    display: flex;
    width: 50%;
    margin: 4rem auto;
    flex-direction: column;
}

#player-form input {
    padding: 1rem;
}

.suggested-icon {
    background-color: #ee5c5c;
    border-radius: 50%;
    border: 3px solid #c74646;
}



.popup .overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(13, 20, 23, 0.5);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 900px;
    transform: translate(-50%, -50%) scale(0);
    background: #fffafa;
    z-index: 2;
    text-align: center;
    padding: 1rem 3rem;
    box-sizing: border-box;
    border-radius: 10px;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--text);
    color: #fffafa;
    font-size: 30px;
    border-radius: 10px;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}